<!DOCTYPE html>
<html>
<script src="angular.js"></script>
<body>
<div ng-app="myApp" ng-controller="myCtrl">


{{ points[0] }}

</div>

<script>
var app = angular.module('myApp',[]);
app.controller('myCtrl',function($scope)
{

$scope.po=[11,22];
var x = $scope.po[1];
$scope.points=[x,22,33];
}
);
</script>
</body>
</html>
