<!DOCTYPE html>
<html>
<script src="angular.js"></script>
<body>
<div ng-app="myApp" raz maths></div>

<script>
var app = angular.module("myApp", []);
app.directive("raz", function() {
    return {
        template : '<p><b style="background-color:red">I was {{5+5}} made in a directive constructor!'
    };
});

</script>
</body>
</html>
