<!DOCTYPE html>
<html>
<script src="angular.js"></script>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
<ul>
  <li ng-repeat="x	in points track by $index">
    {{ x }}
  </li>
</ul>

</div>

<script>
var app = angular.module('myApp',[]);
app.controller('myCtrl',function($scope)
{
$scope.points=[22,22,33];
}
);
</script>
</body>
</html>
