<!DOCTYPE html>
<html>
<script src="angular.js"></script>
<body>
<div ng-app="">
<form ng-app="" name="myForm">
    Email:
    <input type="email" name="myAddress" ng-model="text">
    <span ng-show="myForm.myAddress.$error.email">Not a valid e-mail address</span>
</form>
</div>

<script>

</script>
</body>
</html>
