<!DOCTYPE html>
<html>
<script src="angular.js"></script>
<body>
<div ng-app="">
<form ng-app="" name="myForm" ng-init="myText = 'post@myweb.com'">
    Email:
    <input type="email" name="myAddress" ng-model="myText" required></p>
    <h1>Status</h1>
    {{myForm.myAddress.$valid}}
    {{myForm.myAddress.$dirty}}
    {{myForm.myAddress.$touched}}
</form>
</div>

<script>

</script>
</body>
</html>
