<!DOCTYPE html>
<html>
<script src="angular.js"></script>
<style>
input.ng-invalid {
    background-color: lightblue;
}
input.ng-valid {
    background-color: yellow;
}
</style>
<body>

<form ng-app="" name="myForm">
    Enter your name:
    <input name="myName" ng-model="myText" required>
</form>

<p>Edit the text field and it will get/lose classes according to the status.</p>
<p><b>Note:</b> A text field with the "required" attribute is not valid when it is empty.</p>
<script>

</script>
</body>
</html>
