<!DOCTYPE html>
<html>
<script src="angular.js"></script>
<body>
<div ng-app="myApp" ng-controller="myCtrl"> 

<p>Today's welcome message is:</p>
<h1>{{myWelcome}}</h1>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
    $http.get("readme.txt")
    .then(function(response) {
        $scope.myWelcome = response.data;
    });
});
</script>
</body>
</html>
