<!DOCTYPE html>
<html>
<script src="angular.js"></script>
<body>
<div ng-app="myApp" ng-controller="customersCtrl"> 

<ul>
  {{ myData }}
</ul>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
   $http.get("http://www.w3schools.com/angular/customers.php").then(function(response) {
   //$http.get("http://www.polazo.com").then(function(response) {
        $scope.myData = response;
    });
});
</script>
</body>
</html>
