<!DOCTYPE html>
<html>
<script src="angular.js"></script>
<body>
<div ng-app="">
<select ng-model="color">
<option>RED</option>
<option>BLUE</option>
</select>
<p style="background-color:{{ color }}">{{ color }}</p>
</div>
</body>
</html>
